@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face{
    font-family: 'Silka';
    src: url('/font/silka.woff') format('woff');
  }
}

body{
  font-family: 'Silka';
  /* cursor: url('/cursor.svg'), auto; */
}
.no-select {
  user-select: none;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* a, button { */
  /* cursor: url('/cursor-click.svg'), auto; */
/* } */